html {
  font-family: "Montserrat", sans-serif;
  background-color: #2b2733;
  height: 100%;
}

body {
  margin: 0;
}

@media all and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  aside {
    flex: 1 0 0;
  }
}

header {
  width: 100%;
  max-height: 50px;
  margin: 0;
  color: #fff;
  background-color: #46424d;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: lighter;
}

main {
  flex: 2 0px;
  padding: 10px 20px;
  height: calc(100vh - 50px);
  color: #cbc9cf;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: calc(100% - 30px);
  margin: 0 auto;
  /* padding: 30px 0; */
}

aside {
  flex: 1 0 0;
  color: #cbc9cf;
  padding: 10px 20px;
  border-left: 2px solid #46424d;
}

.container {
  min-height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.hidden {
  display: none;
}

.card {
  border-radius: 10px;
  background-color: #46424d;
}

.fullscreen {
  height: 85%;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories section {
  border-radius: 2px;
  border: 1px solid #fff;
  width: 25%;
  text-align: center;
  padding: 5px;
}

form img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.study-selected {
  border: 1px solid #b3fd78 !important;
  color: #b3fd78;
}

.meditate-selected {
  border: 1px solid #c278fd !important;
  color: #c278fd;
}

.exercise-selected {
  border: 1px solid #fd8078 !important;
  color: #fd8078;
}

.time-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time-input div {
  width: 40%;
}
/* Formats form inout boxes to single white line */
input[type=number]{
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #46424d;
  font-family: "Montserrat", sans-serif;
  color: #CBC9CF;
  font-size: 1em;
  width: 100%;
}

input[type=text] {
  outline: 0;
  width: 100%;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #46424d;
  font-family: "Montserrat", sans-serif;
  color: #CBC9CF;
  font-size: 1em;
}

#activityOnTimer {
  text-align: center;
  padding-top: 50px
}

#startButtonBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

#logButtonBox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#done {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 4em;
}
.button {
  background-color: #FFF;
  padding: 10px 35px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
}

#containerCircleButton {
  display: flex;
  justify-content: center;
}

#startCircle {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  font-weight: 300;
  background-color: #46424d;
  border-radius: 100%;
  border-width: 3px;
  height: 200px;
  width: 200px;
  color: #FFF
}

.submit {
  width: fit-content;
  align-self: flex-end;
}

.error-text {
  color: #EFB7EC;
  position: absolute;
  margin: 5px 0 0 0;
}

.error-text>img {
  width: 15px;
  margin: 0 5px 0 0;
  float: left;
}

.error-text>p {
  display:inline;
}

.activity {
  margin: 10px 0 0 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.activity h3 {
  margin: 5px 0;
  font-weight: bolder;
}

.activity>.time {
  
}

.stripe {
  float: right;
  margin: 5px;
  border: 3px solid white;
  border-radius: 1000px;
  height: 25px;
}
.meditate {
  border-color: #c278fd;
  
}