html {
  font-family: "Montserrat", sans-serif;
  background-color: #2b2733;
  height: 100%;
}

body {
  margin: 0;
}

@media all and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  aside {
    flex: 1 0 0;
  }
}

header {
  width: 100%;
  max-height: 50px;
  margin: 0;
  color: #fff;
  background-color: #46424d;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: lighter;
}

main {
  flex: 2 0px;
  padding: 10px 20px;
  height: calc(100vh - 50px);
  color: #cbc9cf;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: calc(100% - 30px);
  margin: 0 auto;
  /* padding: 30px 0; */
}

aside {
  flex: 1 0 0;
  color: #cbc9cf;
  padding: 10px 20px;
  border-left: 2px solid #46424d;
}

.container {
  min-height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.hidden {
  display: none;
}

.card {
  border-radius: 10px;
  background-color: #46424d;
}

.fullscreen {
  height: 85%;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories section {
  border-radius: 2px;
  border: 1px solid #fff;
  width: 25%;
  text-align: center;
  padding: 5px;
}

form img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.study-selected {
  border: 1px solid #b3fd78 !important;
  color: #b3fd78;
}

.meditate-selected {
  border: 1px solid #c278fd !important;
  color: #c278fd;
}

.exercise-selected {
  border: 1px solid #fd8078 !important;
  color: #fd8078;
}

.time-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Formats form inout boxes to single white line */
input[type=number], input[type=text] {
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #46424d;
  font-family: "Montserrat", sans-serif;
  color: #CBC9CF;
  font-size: 1em;
}

#buttonBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;``
}

#startButton {
  background-color: ##FFF;
  padding: 10px 35px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
}

.submit {
  width: fit-content;
  align-self: flex-end;
}
