html {
  font-family: "Montserrat", sans-serif;
  background-color: #2b2733;
  height: 100%;
}

body {
  margin: 0;
}

@media all and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  aside {
    flex: 1 0 0;
  }
}

header {
  width: 100%;
  max-height: 50px;
  margin: 0;
  color: #fff;
  background-color: #46424d;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: lighter;
}

main {
  flex: 2 0px;
  padding: 10px 20px;
  height: calc(100vh - 50px);
  color: #cbc9cf;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: calc(100% - 30px);
  margin: 0 auto;
  /* padding: 30px 0; */
}

aside {
  flex: 1 0 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  color: #cbc9cf;
  padding: 10px 20px;
  border-left: 2px solid #46424d;
  overflow-y: scroll;
}

.container {
  min-height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.hidden {
  display: none !important;
}

.hidden aside {
  display: flex;
}

.card {
  border-radius: 10px;
  background-color: #46424d;
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.15);
}

.fullscreen {
  height: 85%;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories section {
  border-radius: 2px;
  border: 1px solid #fff;
  width: 25%;
  text-align: center;
  padding: 5px;
}

form img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.study-selected {
  border: 1px solid #b3fd78 !important;
  color: #b3fd78;
}

.meditate-selected {
  border: 1px solid #c278fd !important;
  color: #c278fd;
}

.exercise-selected {
  border: 1px solid #fd8078 !important;
  color: #fd8078;
}

.time-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time-input div {
  width: 40%;
}
/* Formats form inout boxes to single white line */
input[type=number]{
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #46424d;
  font-family: "Montserrat", sans-serif;
  color: #CBC9CF;
  font-size: 1rem;
  width: 100%;
}

input[type=text] {
  outline: 0;
  width: 100%;
  border-width: 0 0 1px;
  border-color: white;
  background-color: #46424d;
  font-family: "Montserrat", sans-serif;
  color: #CBC9CF;
  font-size: 1rem;
}

#activityOnTimer {
  text-align: center;
  padding-top: 50px
}

#createNewAct {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}



#startButtonBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

#logButtonBox {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}


#done {
  display: flex;
  justify-content: center;
  font-family: Verdana;
  font-weight: 800;
  color: #FFFFFF;
  margin-top: 5px;
  font-size: 4rem;
}
.button {
  background-color: #FFF;
  outline: none;
  padding: 10px 35px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#containerCircleButton {
  display: flex;
  justify-content: center;
}
.pointer{
  cursor: pointer
}

.card.activity input[type="button"] {
  display: none;
  float:right;
  margin: 5px 0 0 0;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  text-shadow: 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px 0px 0 #FFF, 0px 1px 0 #FFF, -1px 0px 0 #FFF, 0px -1px 0 #FFF;
}
.card.activity:hover input[type="button"] {
  display: inline-block;
}
.favButton:hover { 
  background-color: rgba(255, 255, 255, 0.2);
}

.favorited {
  order: 1;
}
.favorited .favButton {
  display: block !important;
  color: red;
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}
.redoButton {
  padding: 5px 5px 0 0;
}


#startCircle {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 300;
  background-color: #46424d;
  border-radius: 100%;
  border-width: 3px;
  height: 200px;
  width: 200px;
  color: #FFF;
}

.submit {
  width: fit-content;
  align-self: flex-end;
}

.error-text {
  color: #EFB7EC;
  position: absolute;
  margin: 5px 0 0 0;
}

.error-text>img {
  width: 15px;
  margin: 0 5px 0 0;
  float: left;
}

.error-text>p {
  display:inline;
}

.activity {
  margin: 15px 0 0 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.activity h3 {
  margin: 5px 0;
  font-weight: bolder;
}

.activity>.time {
  margin: 2px 0;
  font-size: 0.9rem;
}

.activity>.description {
  margin: 10px 0;
  font-weight: 300;
}

.stripe {
  float: right;
  margin: 5px;
  border: 3px solid white;
  border-radius: 1000px;
  height: 25px;
}

.meditate {
  border-color: #c278fd;
}
.study {
  border-color: #b3fd78;
}
.exercise {
  border-color: #fd8078;
}
